<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; background-image: url("http://i.imgur.com/IFcqIOS.jpg"); opacity: 80% }
        h3 { text-align: center; margin-bottom: 10px; padding-left: 5px; }
        form {text-align: center;}
        label {padding-right: 25px; padding-left: 25px; text-size: 40px;}
        .subButton {margin-top: 15px;}
        
    </style>
    
</head>

<body>
<div class = "container">
    <div class = "page-header text-center">
        <h3 style = "color: maroon"><%= data.title%></h3>
    </div>
    <%  if (data.r1 !== "") {  %>
    <h3  id = "r1" style = "text-align: center; background-color: gray; opacity: 50%"><%= data.r1 + "&emsp;&emsp;&emsp;" + data.a1%></h3>
    <%  } if (data.r2 !== "") {  %>
    <h3  id = "r2" style = "text-align: center; background-color: gray; opacity: 50%"><%= data.r2 + "&emsp;&emsp;&emsp;" + data.a2 %></h3>
    <%  } if (data.r3 !== "") {  %>
    <h3  id = "r3" style = "text-align: center; background-color: gray; opacity: 50%"><%= data.r3 + "&emsp;&emsp;&emsp;" + data.a3%></h3>
    <%  } if (data.r3 !== "") {%>
    <h3  id = "r4" style = "text-align: center; background-color: gray; opacity: 50%"><%= data.r4 + "&emsp;&emsp;&emsp;" + data.a4%></h3>
    <% } %>
    </div>
</body>




